@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the race track!</h1>
    <p class="lead">Experience the thrill of high-speed racing on our race track.</p>
    <a href="/Account/TrackSessionBrowser" class="btn btn-primary">Open Track Session Browser</a>
</div>
